<%- include ../partials/main.ejs %>

<section class="admin-content">
    <div class="container">
        <h3 style="text-align: center;">Edit User Book</h3>
        <div class="row">
            <div class="col-md-12">
                <!--widget card begin-->
                <div class="card m-b-30 cause-main">
                    <div class="card-body">
                        <form class="add-cause-form addEmployeeForm" id="id_form_employees" action="/updateUserbook" method="POST" enctype="multipart/form-data">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="issues" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <input type="hidden" class="form-control" name="id" value="<%= Userdata._id %>">
                                        <div class="col-md-6 add-cause-form-col1">
                                            <div class="form-group">
                                                <label for="name">User book Name </label>
                                                <input type="text" class="form-control" id="name" autocomplete="off"
                                                    placeholder="User Book Name" name="name"  value="<%= Bookslist.book_name %>" readonly>
                                                    <span id="error_name"></span>
                                            </div>
                                            <div class="form-group ">
                                                <label for="status" class="font-secondary">Select Status</label>
                                                <select class="form-control js-select2" style="width: 100%;" name='status'>
                                                    <option value="">Select Status</option>
                                                    <!-- <% for(var k in masterStatus){ %>
                                                        <% if(masterStatus[k].id == Userdata.book_status_id){ %>
                                                            <option selected value="<%= masterStatus[k].id %>"><%= masterStatus[k].status %></option>
                                                        <% }else{ %>
                                                            <option value="<%= masterStatus[k].id %>">
                                                                <%= masterStatus[k].status %></option>
                                                        <% } %>
                                                    <% } %> -->
                                                    <% if(Userdata.book_status_name == 'Reissue'){ %>
                                                        <!-- <option value="">Select Status</option> -->
                                                        <option selected value="Reissue">Reissue</option>
                                                        <option value="Return">Return</option>
                                                    <% }else if(Userdata.book_status_name == 'Return'){ %>
                                                        <!-- <option value="">Select Status</option> -->
                                                        <option value="Reissue">Reissue</option>
                                                        <option selected value="Return">Return</option>
                                                    <% }else { %>
                                                        <option selected value="Issue">Issue</option>
                                                        <option value="Reissue">Reissue</option>
                                                        <option value="Return">Return</option>
                                                    <% } %>
                                                </select>
                                                <span id="error_status"></span>
                                            </div>
                                        </div>
                                        
                                        </div>
                                        <div class="col-md-12 m-t-60">
                                            <button type="submit" class="btn m-b-15 ml-2 mr-2 btn-success"
                                                style="float:right;">Update</button>
                                            <a href="/userbooks"><button type="button" class="btn btn-link m-b-15 ml-2 mr-2"
                                                    style="float:right;">Cancel</button></a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PLACE PAGE CONTENT HERE -->
</section>
<%- include ../partials/footer.ejs %>
<script>
$(document).ready(() => {
    setHeading('Edit User Book')
})

</script>